$buttom-color: #004996;
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    div {
        padding: 1rem 0rem;

        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1.3rem;
        }
        a {
            vertical-align: middle;
        }
        .hero-text {
            width: 100%;
        }
    }
    picture {
        order: 2;
        img {
            width: 100%;
            min-width: 300px;
        }
    }
}
.bottuns {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
    .button-link {
        width: 150px;
        height: 60px;
        border-radius: 30px;
        background-color: $buttom-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.3rem;
        text-align: center;
        align-self: center;
        span {
            color: white;
        }
    }
    .button-link-white {
        background: white;
        border: 1px solid #004996;
        span {
            color: black;
            font-size: 0.9rem;
        }
    }
}
.button-link-icon {
    display: inline-block;
}
.button-link-icon::after {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/arrow-right.png");
    background-repeat: no-repeat;
    position: relative;
    left: 10px;
}
@media (width<768px) {
    .hero {
        flex-flow: column nowrap;
        gap: 0;
        div {
            order: 2;
            width: auto;
            text-align: center;
        }
    }
    .bottuns {
        gap: 2rem;
        justify-content: center;
    }
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.3rem;
    }
}
@media (width<550px) {
    .hero {
        .hero-text {
            h1 {
                font-size: 1.5rem;
            }
        }
        picture {
            img {
                min-width: 200px;
            }
        }
    }
}
