*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    position: relative;
}
:focus {
    outline: 0;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}

html,
body {
    height: 100%;
    line-height: 1.4;
    color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
button,
input {
    line-height: inherit;
    color: inherit;
}
button {
    cursor: pointer;
    background-color: inherit;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption,
th,
td {
    text-align: left;
    font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote,
q {
    quotes: "" "";
}
