@import url("reset.css");
@import url("header.scss");
@import url("hero.scss");
@import url("about-us.scss");
$main-color: #191823;
$main-bg-color: #f2f8ff;
$buttom-color: #004996;
:root {
    font-size: 16px;
}
.wrapper {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}
a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: $main-color;
    text-wrap: nowrap;
}
h1,
h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 130%;
    color: $main-color;
    margin: 0.5rem 0;
}
h2 {
    font-size: 1.2rem;
}
p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    color: $main-color;
    margin: 0.5rem 0;
}

.mobile-a {
    display: flex;
    justify-content: left !important;
}
main {
    background-color: $main-bg-color;
}
section {
    padding: 1.5rem;
}
.technologys {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.technologys-content {
    display: flex;
    gap: 5rem;
    div {
        width: 50%;
        text-align: left;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 1rem;
        h3 {
            text-align: center;
            font-weight: bold;
        }
    }
    hr {
        width: 1px;
        height: 305px;
        background-color: #adabc3;
        opacity: 0.5;
        border: 1px solid;
        margin: 2rem 0;
    }
}
.underline {
    text-underline-position: under;
    text-decoration: underline;
}
.question {
    text-align: center;
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
.accordion {
    max-width: 900px;
    width: calc(100% - 20px);
    margin: 0 auto;
}
details {
    margin-bottom: 10px;
    border: 1px solid $main-color;
    padding: 1rem;
    border-radius: 25px;
    background-color: white;
    text-align: left;
}
summary::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(/img/arrow.png);
    background-position: center;
    background-size: contain;
    order: 2;
    transform: rotate(-90deg);
}
details:focus {
    flex-flow: column nowrap;
}
details[open] > summary::before {
    transform: rotate(0deg);
}
details > summary {
    color: black;
    padding: 5px 10px;
    font-size: 1.3em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.question a {
    text-align: center;
    margin: 0 auto;
}
.plan {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 2rem 0;
}
.card {
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid $buttom-color;
    border-radius: 10px;
    box-shadow: 10px 10px 1px $main-color;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h3 {
        font-weight: 700;
        font-size: 1.5rem;
    }
    p {
        font-size: 0.9rem;
    }
    strong {
        font-weight: 700;
    }
}
.contact {
    text-align: center;
}
.contact-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;
    img {
        width: 40%;
    }
}
.contact-text {
    width: 40%;
    text-align: left;
}
.contact-text h3 {
    font-weight: bold;
}

.social {
    background-image: url("../img/bg-social.png");
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: space-evenly;
    p,
    h2 {
        color: white;
    }
}
.center-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: center;
    form {
        margin: 2rem 0;
        display: flex;
        gap: 1rem;
        align-items: center;
        input {
            border-radius: 5px;

            height: 30px;
        }
    }
    .button-link {
        height: 30px;
    }
}
.right-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    text-align: center;
    .social-links {
        display: flex;
        gap: 1rem;
    }
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 1rem;
    min-height: 20%;
    img {
        height: 30px;
    }
    .button-link {
        height: 30px;
        margin: 0 0.5rem;
        width: 130px;
    }
}
@media (width<1000px) {
    .right-column {
        display: none;
    }

    .left-column p {
        display: none;
    }
    .social {
        justify-content: center;
    }
}
@media (width<700px) {
    .technologys-content {
        flex-flow: column nowrap;
        align-items: center;
        gap: 3rem;
        div {
            width: 100%;
        }
        hr {
            transform: rotate(90deg);
            margin: -8rem;
            height: 70vw;
        }
    }
    details > summary {
        color: black;
        padding: 5px 10px;
        font-size: 0.8rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact-content {
        img {
            width: 100%;
        }
    }
    .contact-text {
        width: 100%;
    }
    .left-column p {
        display: block;
    }
    .right-column {
        display: none;
    }

    .social {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .left-column {
        text-align: center;
    }
    .center-column {
        form {
            margin: 1rem 0;
        }
    }
}
@media (width<450px) {
    .wrapper {
        padding: 1.5rem 0.5rem;
    }
    .button-link {
        width: 200px;
    }
    .center-column form {
        margin: 0rem 0;
    }
    section > .social {
        padding: 0.5rem;
    }
    .desktop-menu a {
        font-size: 1rem;
        .button-link {
            width: 150px;
        }
    }
    .center-column {
        form {
            input {
                width: 110%;
            }
        }
    }
}
